h1 {
    font-weight: 700;
}

h1>span {
    color: #198754;
}

.container {
    width: 60%;
    margin: 50px auto;
}

.toolbar {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

#recover {
    width: 80px;
    font-weight: 700;
}

#copy {
    margin-top: 20px;
}

.footer {
    margin-top: 50px;
}

.footer p {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.infos-item {
    margin: 5px 10px;
}

.nav-container {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-container a {
    width: 45%;
}

@media screen and (max-width: 500px) {
    .container {
        width: 90%;
    }
    #recover {
        width: 100%;
        margin-top: 20px;
        font-weight: 700;
    }
    #copy {
        width: 100%;
    }
    .nav-container a {
        width: 100%;
        margin: 5px 0px;
    }
}